.container {
  text-align:-webkit-center;


}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  margin-top: 10px;
  width: 100%;
}

.mat-button {
  color: white;
  background-color: #3F51B5;
  margin-top: 10px;
}