<div class="container mt-5 " >
    <mat-card class="example-card mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>Login/Signup</mat-card-title>
          <mat-card-subtitle>EKart</mat-card-subtitle>
        </mat-card-header>
        <mat-tab-group>

            <!-- Login Form -->
            <mat-tab label="Login"> 
                <form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label> Email</mat-label>
                      <input formControlName="email"  type="email" matInput placeholder="Enter your Email">
                      <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>
                  
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Password</mat-label>
                      <input formControlName="password" type="password" matInput placeholder="Enter your Password">
                      <mat-icon matSuffix>vpn_key</mat-icon>

                    </mat-form-field>
                    <button type="submit" mat-button color="primary">Login</button>
                  </form>
          
            </mat-tab>
           <!-- login form end here -->

        <!-- Signup Form -->
            <mat-tab label="Signup"> 
            <form class="example-form" [formGroup]="signupForm" (ngSubmit)="signUp()">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Username</mat-label>
                    <input formControlName="userName"   matInput placeholder="Enter your name" >
                    <mat-icon matSuffix>user</mat-icon>
  
                  </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label> Email</mat-label>
                  <input formControlName="email"  type="email" matInput placeholder="Enter your Email" >
                  <mat-icon matSuffix>email</mat-icon>

                </mat-form-field>
              
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" type="password" matInput placeholder="Enter your Password">
                    <mat-icon matSuffix>vpn_key</mat-icon>
                  </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Confirm Password</mat-label>
                    <input type="cpassword" matInput placeholder="Enter your Confirm Password">
                  </mat-form-field>
                <button type="submit" mat-button color="primary">Signup</button>
              </form>
            </mat-tab>
          </mat-tab-group>
          <!-- Signup for end here -->
         
    
      </mat-card>
</div>
