<div  fxFlexFill fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="example-card mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>Login/Signup</mat-card-title>
          <mat-card-subtitle>EKart</mat-card-subtitle>
        </mat-card-header>
        <mat-tab-group>

            <!-- Login Form -->
            <mat-tab label="Login"> 
                <form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label> Email</mat-label>
                      <input formControlName="email"  type="email" matInput placeholder="Enter your Email">
                      <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>
                    <mat-error
                    *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')">
                    Email is required
                  </mat-error>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Password</mat-label>
                      <input formControlName="password" type="password" matInput placeholder="Enter your Password">
                      <mat-icon matSuffix>vpn_key</mat-icon>

                    </mat-form-field>
                    <mat-error
                    *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')">
                    Password is required
                  </mat-error>
                    <button type="submit" mat-button color="primary" [disabled]="!loginForm.valid">Login</button>
                  </form>
          
            </mat-tab>
           <!-- login form end here -->

        <!-- Signup Form -->
            <mat-tab label="Signup"> 
            <form class="example-form" [formGroup]="signupForm" (ngSubmit)="signUp()">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Username</mat-label>
                    <input formControlName="userName"   matInput placeholder="Enter your name" >
                    <mat-icon matSuffix>group_add</mat-icon>
                  </mat-form-field>
                  <mat-error
                  *ngIf="signupForm.controls['userName'].dirty && signupForm.hasError('required','userName')">
                  Username is required
                </mat-error>

                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label> Email</mat-label>
                  <input formControlName="email"  type="email" matInput placeholder="Enter your Email" >
                  <mat-icon matSuffix>email</mat-icon>
   
                </mat-form-field>
               
                <mat-error
                *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')">
                Email is required
              </mat-error>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Mobile</mat-label>
                <input formControlName="phone" type="tel" matInput placeholder="Enter your mobile number">
                <mat-icon matSuffix>call</mat-icon>
              </mat-form-field>
              <mat-error
              *ngIf="signupForm.controls['phone'].dirty && signupForm.hasError('required','phone')">
              Phone number is required
            </mat-error>

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" type="password" matInput placeholder="Enter your Password">
                    <mat-icon matSuffix>vpn_key</mat-icon>
                  </mat-form-field>
                  <mat-error
                  *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')">
                  Password is required
                </mat-error>
                    <!-- <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Confirm Password</mat-label>
                    <input formControlName="" type="cpassword" matInput placeholder="Enter your Confirm Password">
                  </mat-form-field>
                  <mat-error
                  *ngIf="signupForm.controls['cpassword'].dirty && signupForm.hasError('required','cpassword')">
                  Confirm Password is required
                </mat-error> -->
                <button type="submit" mat-button color="primary" [disabled]="!signupForm.valid">Signup</button>
              </form>
            </mat-tab>
          </mat-tab-group>
          <!-- Signup for end here -->
         
    
      </mat-card>
</div>
