
<div class="footer mt-5"  fxLayout="row"  fxLayout.xs="column"  fxLayoutAlign="space-around stretch">


 <div class="about m-3" fxFlex="34">

  <span>EKART.</span>
<div class="mt-4">
EKART is a ecommerce platform for all products founded on  2022. Delivering latest versions
  on the latest fashion trends to our audience has always been our aim. Join our #EKARTFAM today!
</div>
 

 </div>

 <div class="links m-3 " fxFlex="35">
  <h1>Useful Links</h1>
  <ul>
    <li>Home</li>
    <li>My Cart</li>
    <li>WishList</li>
    <li>Login</li>

  </ul>
 </div>


 <div class="contact m-3" fxFlex="">
  <h1>Contacts</h1>
  <div><mat-icon>pin_drop</mat-icon>Jayanagar,Bangalore</div>
  <div><mat-icon>call</mat-icon>+91 9867777345</div>
  <div><mat-icon>email</mat-icon>ekart@gmail.com</div>
 </div>
</div>

