.footer {
   
    background-color: rgb(221, 148, 13);
    color: white;

    margin: 0px;
   .about{
    span{

        font-weight: bold;
        font-size: large;
    }
   }

    }

   li{
   cursor: pointer;
   }