.example-spacer {
    flex: 1 1 auto;
  }
  .navbar{
    // position: sticky;
    // bottom: 0;
    // width: 100%;
    // height: 40px;
    // background-color: rgb(221, 148, 13);
    // color: rgb(9, 2, 24);
    // text-align: center;
    // margin: 0px;
    background-color:red;
    color: white;
  }