<p>
  <mat-toolbar class="navbar" mat-elevation-z8>
    <button
      routerLink="/home"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>shoppingbag</mat-icon>
    </button>
    <span>EKart</span>

    <span class="example-spacer"></span>

    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon routerLink="/home/favorites">favorite</mat-icon>
      <span>{{ wishlistApi.count || "" }}</span>
    </button>
    <button
      mat-icon-button
      class="example-icon shoppingCart-icon"
      aria-label="Example icon-button with shopping cart icon"
    >
      <mat-icon routerLink="/home/cart">shopping_cart</mat-icon>
      <span>{{ cartApi.count || " " }}</span>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      [ngSwitch]="user"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon *ngSwitchCase="null" routerLink="/login">login</mat-icon>
      <mat-icon *ngSwitchDefault (click)="logout()">exit_to_app</mat-icon>
    </button>
  </mat-toolbar>
</p>
