<p>
    <mat-toolbar class="navbar" mat-elevation-z8>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>shoppingbag</mat-icon>
      </button>
      <span>EKart</span>
      <div  fxFlex="10" fxLayoutAlign="center">
        <a routerLink="/home">Home</a>

      </div>

      <span class="example-spacer"></span>

      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon routerLink="/favorites">favorite</mat-icon>
      </button>   
       <button mat-icon-button class="example-icon shoppingCart-icon" aria-label="Example icon-button with shopping cart icon">
        <mat-icon routerLink="/cart">shopping_cart</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon routerLink="/login">login</mat-icon>
      </button>
    </mat-toolbar>
  </p>