
<div class="container mt-5">
    <mat-card class="example-card"  fxFlexFill fxLayout="row"  fxLayout.xs="column"  fxLayoutAlign="center center">
        <mat-card-title-group>
          <img mat-card-xl-image src="../../../assets/revolt-164_6wVEHfI-unsplash.jpg" >
        </mat-card-title-group>
        <div fxLayout="column" class="m-5">

            
                <mat-card-title>Nike shoe</mat-card-title>
                <mat-card-title>₹10000</mat-card-title>
            
        <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, pariatur vero! Ducimus accusamus numquam perspiciatis 
        nesciunt itaque dicta sapiente esse, natus harum inventore at, id laudantium, incidunt aliquam ut consectetur?
        </mat-card-content>
        <div class="star">
            <mat-icon *ngFor="let i of [].constructor(5)">star</mat-icon>
                </div>
    </div>

      </mat-card>
</div>
