
.example-card {
    max-width: 1500px;
    margin-bottom: 8px;
  }

  .like {
    h3{
      font-weight: bold;
    }
  }
  span{
    color: black;
  }
  .quantity{
    width: 100px;
    height: 40px;
   font-weight: bold;
   padding-bottom: 5px;
    h3{
      padding-top: 20px;
    }
    
  }
  .icon{
    border: 0;
    font-size: 1.5rem;
  }