<div class="container mt-5">
  <mat-card
    class="example-card"
    fxFlexFill
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="center center"
  >
    <mat-card-title-group>
      <img mat-card-xl-image src="{{ product?.image[1] }}" />
    </mat-card-title-group>
    <div fxLayout="column" class="m-5">
      <mat-card-title>{{ product?.name }}</mat-card-title>
      <mat-card-title>₹{{ product?.price }}</mat-card-title>

      <mat-card-content>
        {{ product?.description }}
      </mat-card-content>

      <div class="star">
        <mat-icon *ngFor="let i of [].constructor(product?.numReviews)"
          >star</mat-icon
        >
        <span>({{ product?.numReviews }}/5)</span>
      </div>
      <mat-card-actions>
        <div fxLayoutAlign="space-between center">
          <button mat-button (click)="cartApi.addToCart(product?._id)">
            ADD TO CART
          </button>
          <button
            mat-button
            class="favorite"
            (click)="api.add_to_wishlist(product?._id)"
          >
            ADD TO FAVORITE
          </button>
        </div>
      </mat-card-actions>
    </div>
  </mat-card>

  <mat-divider inset></mat-divider>

  <div class="like">
    <h3>YOU MAY ALSO LIKE</h3>
    <app-like-product> </app-like-product>
  </div>
</div>
