
  <div class="title">{{title}}</div>
      <div  fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-evenly stretch">
        <mat-card class="example-card" *ngFor="let i of [].constructor(4)">
          <img mat-card-image src="../../../assets/revolt-164_6wVEHfI-unsplash.jpg"
            alt="Photo of a Headphone">
            <mat-card-content>
              <div fxLayoutAlign="space-between ">
                <mat-card-title>Nike shoe</mat-card-title>
                <mat-card-title>₹10000</mat-card-title>
              </div>
            <p>
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora corporis doloribus soluta
              voluptatibus, rem, illum, saepe repellendus 
             autem nisi sequi amet. Blanditiis rerum, voluptatem velit amet ipsam nobis aspernatur temporibus!
            </p>
          </mat-card-content>
          <mat-card-actions>
            <div fxLayoutAlign="space-between center">
                <mat-icon>favorite</mat-icon>
                <mat-icon>shopping_cart</mat-icon>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
  

