<!-- <mat-carousel  timings="200ms ease-in"
[autoplay]="true"

color='accent' > -->
    <!-- <div ngxSlickItem class="slider-item " style="background-image:url('assets/images/slideshow1-2.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
            <div class="slider-caption">
              <span class="lead">Winter Collection Sale </span>
              <h1 class="mt-2 mb-5"><span class="text-color">70% off </span>to everything</h1>
              <a href="#" class="btn btn-main">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</ngx-slick-carousel> -->
 <!-- <mat-carousel-slide
    *ngFor="let slide of slides; let i = index"
    [image]="slide.image"
    overlayColor="#ffffff"
    [hideOverlay]="false"
  ></mat-carousel-slide> -->
<!-- </mat-carousel> -->
<mat-carousel
timings="250ms ease-in"
[autoplay]="true"
color="accent"
maxWidth="auto"

[loop]="true"
[hideArrows]="false"
[hideIndicators]="false"
[useKeyboard]="true"
[useMouseWheel]="false"
orientation="ltr"
>
<mat-carousel-slide
  #matCarouselSlide
  *ngFor="let slide of slides; let i = index"
  [image]="slide.image"
  
  overlayColor="#00000040"
  [hideOverlay]="false"
></mat-carousel-slide>
</mat-carousel>

