/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

 .star{
    padding: 0 5px !important;
    font-size:20px !important;
    color: hsl(60, 100%, 50%) !important;
  
  
  }

  .mat-button {
    color: white;
    background-color: #3F51B5;
    margin-top: 20px;
  }

  .favorite {
    background-color: red;
  }